.btn.login-btn {
    color: #6366f1;
    background-color: white;
    border-color: #6366f1;
}
.btn.login-btn:hover {
    color: white;
    background-color: #6366f1;
    border-color: #6366f1;
}

.btn.logout-btn {
    color: white;
    background-color: #6366f1;
    border-color: #6366f1;
}
.btn.logout-btn:hover {
    color: #6366f1;
    background-color: white;
    border-color: #6366f1;
}
